/* eksempel1 
(C) Copyright 2017: Niels Østergaard
Responsive webdesign */


/* først en del der ikke er påvirket af regler */

body {
    font-family: sans-serif;
    background-color: #fc0;
    margin: 1em;
    color: #000;
}

footer {
    font-size: 0.8em;
    text-align: right;
}
