/* eksempel2
(C) Copyright 2017: Niels Østergaard
Responsive webdesign */


/* først en del der ikke er påvirket af regler */

body {
    font-family: sans-serif;
    background-color: #fff;
    margin: 0.5em;
    color: #000;
}

header {
    grid-area: a;
    background-color: #F00;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

nav {
    grid-area: b;
    background-color: #ccc;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

#megetvigtigt{
    grid-area: c;
    background-color: #009e0f;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

#vigtigt{
    grid-area: d;
    background-color: #0ff;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

#knaptsaavigtigt{
    grid-area: e;
    background-color: #90f;
    color: #fff;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

#ikkesaavigtigt{
    grid-area: f;
    background-color: #f90;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

#sletikkevigtigt{
    grid-area: g;
    background-color: #274e13;
    color: #fff;
    padding: 0.2em;
    margin-bottom: 0.5em;
}

footer {
    grid-area: h;
    font-size: 0.8em;
    text-align: center;
    background-color: #000;
    color: #aaa;
    padding: 0.1em;
}

/* så en del der kun gælder hvis skærmen er over 500 pixels */

@media screen and (min-width: 500px) {
   
    #pagewrap {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 4fr 3fr 4fr 1fr;
        grid-template-areas: 
            "a a a"
            "b c c"
            "f d e"
            "g g g"
            "h h h";
    }
    
    body {
        font-size: 1.2em;
    }
    header, nav, #megetvigtigt, #vigtigt, #ikkesaavigtigt, #sletikkevigtigt, #knaptsaavigtigt { /* Vi fjerner margen, da vi bruger grid-gap */
        margin-bottom: 0.0em;
    }      
}

@media screen and (min-width: 800px){
    
    #pagewrap {
        display: grid;
        grid-gap: 0.5em;
        grid-template-columns: 3fr 6fr 4fr;
        grid-template-rows: 1fr 3fr 3fr 2fr 1fr;
        grid-template-areas: 
            "a a a"
            "b c d"
            "f e e"
            "f g g "
            "h h h";
    }
    
    body {
        font-size: 1.5em;
    }
    
}

